<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>150</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-01-23T00:50:16Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>132.5</real>
		<key>mainWindowFrame</key>
		<string>246 199 1008 750 0 0 1680 1028 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>2</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-01-23T00:49:52Z</date>
			<key>fileSize</key>
			<integer>465454</integer>
			<key>md5</key>
			<string>65A23562DF190E66693832A4110B7C51</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/daniel/Movies/Miro Video Converter/5.appletv.mp4</string>
			<key>resourceName</key>
			<string>5.appletv.mp4</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va9QCAAAAAAQQMAAAAOtiUWL/a8tr6Ibcplgp0cYloia+Spu1
			lE8i6DP1iaku3AEAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGRh
			bmllbAAABgAAAAEBAABNb3ZpZXMAABQAAAABAQAATWlybyBWaWRl
			byBDb252ZXJ0ZXINAAAAAQEAADUuYXBwbGV0di5tcDQAAAAUAAAA
			AQYAAAQAAAAUAAAAJAAAADQAAABQAAAACAAAAAQDAABP8Q0AAAAA
			AAgAAAAEAwAAdQ0OAAAAAAAIAAAABAMAANxIFAAAAAAACAAAAAQD
			AACRYG8CAAAAAAgAAAAEAwAAWn+cAgAAAAAUAAAAAQYAAIQAAACU
			AAAApAAAALQAAADEAAAACAAAAAAEAABBtq9rLwAAABgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAA
			AAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAsGBmdAAAAAgAAAAABAAAQbXnGYcAAAAkAAAAAQEAADMxNzIx
			OTQzLUUwOTYtMzE1OS04ODNELUExOTczQTgzODc0ORgAAAABAgAA
			gQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
			AAEFAAAEAAAAAwMAAAAJACjAAAAA/v///wEAAAAAAAAADwAAAAQQ
			AABoAAAAAAAAAAUQAADUAAAAAAAAABAQAAAAAQAAAAAAAEAQAADw
			AAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAAAAAAABEgAABwAQAA
			AAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
			ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLA
			AAAwAQAAAAAAABDQAADQAQAAAAAAAA==
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1008, 440}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>WhatsNew1_6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1440px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>VideoSources</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>filename</key>
									<string>5.appletv.mp4</string>
									<key>type</key>
									<string>video/mp4</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Loop</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>900px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>375px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>600px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>9px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Controls</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Autoplay</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>video</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Muted</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Video</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>599.8330078125</real>
								<key>identifier</key>
								<string>Video Track</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>1</integer>
								<key>uuid</key>
								<string>03C937D9-74E5-455E-8868-4A3C7A32438A-36824-00000AD2EEB445E5</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
