<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>150</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-01-23T00:55:12Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>132.5</real>
		<key>mainWindowFrame</key>
		<string>218 196 1008 750 0 0 1680 1028 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>3</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-01-22T19:48:02Z</date>
			<key>fileSize</key>
			<integer>811647</integer>
			<key>md5</key>
			<string>25D807DCADAA0B90F7B515F1AE4A845E</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/daniel/Desktop/poster.png</string>
			<key>resourceName</key>
			<string>poster.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va5wCAAAAAAQQMAAAAHp1Y2nICXyTfy6+88xhDeXeOa2PNY5f
			xp43ShG6CaKypAEAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGRh
			bmllbAAABwAAAAEBAABEZXNrdG9wAAoAAAABAQAAcG9zdGVyLnBu
			ZwAAEAAAAAEGAAAEAAAAFAAAACQAAAA0AAAACAAAAAQDAABP8Q0A
			AAAAAAgAAAAEAwAAdQ0OAAAAAAAIAAAABAMAADIODgAAAAAACAAA
			AAQDAAAbYZwCAAAAABAAAAABBgAAYAAAAHAAAACAAAAAkAAAAAgA
			AAAABAAAQbavJHIAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAMAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAALBgZnQAAAAIAAAAAAQA
			AEG15xmHAAAAJAAAAAEBAAAzMTcyMTk0My1FMDk2LTMxNTktODgz
			RC1BMTk3M0E4Mzg3NDkYAAAAAQIAAIEAAAABAAgA7z8AAAEACAAA
			AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAACQAo
			wAAAAP7///8BAAAAAAAAAA8AAAAEEAAASAAAAAAAAAAFEAAAoAAA
			AAAAAAAQEAAAyAAAAAAAAABAEAAAuAAAAAAAAAACIAAAhAEAAAAA
			AAAQIAAABAEAAAAAAAARIAAAOAEAAAAAAAASIAAAGAEAAAAAAAAT
			IAAAKAEAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAABwAAA
			6AAAAAAAAAARwAAAFAAAAAAAAAASwAAA+AAAAAAAAAAQ0AAAmAEA
			AAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<false/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{848, 480}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.93333333730697632</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1331, 615}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>478px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;video src="http://movies.apple.com/media/us/education/ipad/2012/tours/apple-ibooks-tour-feature_keynote-cc-us-20120314_r848-9cie.mov" width="848" height="480" poster="${resourcesFolderName}/poster.png" autoplay="" controls=""&gt;&lt;/video&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>846px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 4}</string>
			<key>selectedObjects</key>
			<array/>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>0.75</real>
</dict>
</plist>
