<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>46</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>108</string>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>lastCheckDate</key>
	<date>2012-07-02T21:13:10Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>32</real>
		<key>mainWindowFrame</key>
		<string>117 287 1309 776 0 0 2560 1418 </string>
		<key>openTabs</key>
		<array>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>59</string>
			</dict>
		</array>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>580</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>0.0</real>
	</dict>
	<key>oidCounter</key>
	<integer>59</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>md5</key>
			<string>93F08979FB0251F7D01ECBB2173AF017</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>resourceName</key>
			<string>Banana.jpg</string>
		</dict>
		<dict>
			<key>md5</key>
			<string>B2FFA06076B0901465F6F425581F2165</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>resourceName</key>
			<string>Banana.m4a</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{1024, 768}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1309, 808}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>43</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>Helvetica,Arial,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#FF902D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>48px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>LetterSpacing</string>
							<key>objectValue</key>
							<string>2px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DomID</string>
							<key>objectValue</key>
							<string>43</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>650px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>35px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>Banana</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>1008px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>7</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
					<key>45</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>187px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UserSelect</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>Banana.jpg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>542px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>650px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>93px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionOnMouseClick</string>
							<key>objectValue</key>
							<dict>
								<key>javascriptOid</key>
								<string>59</string>
								<key>type</key>
								<integer>4</integer>
							</dict>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DomID</string>
							<key>objectValue</key>
							<string>45</string>
						</dict>
					</array>
					<key>52</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Video</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>VideoSources</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>filename</key>
									<string>Banana.m4a</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Loop</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-96px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>8</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>563px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Controls</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Autoplay</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>video</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DomID</string>
							<key>objectValue</key>
							<string>52</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Muted</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<key>onSceneLoadAction</key>
				<dict>
					<key>javascriptOid</key>
					<string>59</string>
					<key>type</key>
					<integer>4</integer>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>2.0433559417724609</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Video Track</string>
								</dict>
								<key>identifier</key>
								<string>Video Track</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>52</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Video Track</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>1</integer>
								<key>uuid</key>
								<string>4276F141-4D53-4FF4-BC12-96E32D903DE1-4144-000003F482663259</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Video Track</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>52</string>
								<key>startTime</key>
								<real>2.0433559417724609</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Video Track</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>1</integer>
								<key>uuid</key>
								<string>523BFEA6-A324-4194-9B0C-D9B38E820A2A-4144-000003F4826AAD97</string>
							</dict>
						</array>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>2.0433559417724609</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Scene 1</string>
			<key>oid</key>
			<string>46</string>
			<key>scrollViewOffset</key>
			<string>{0, 180}</string>
			<key>selectedObjects</key>
			<array>
				<string>45</string>
			</array>
			<key>splitHeight</key>
			<real>580</real>
		</dict>
	</array>
	<key>scripts</key>
	<array>
		<dict>
			<key>oid</key>
			<string>59</string>
			<key>source</key>
			<string>function playbanana(hypeDocument, element, event) {
	/*	
		hypeDocument - access to the hype document API:
						METHODS:
						hypeDocument.documentName()
						hypeDocument.sceneNames()
						hypeDocument.currentSceneName()
						hypeDocument.showSceneNamed(sceneName, optionalTransition)
						hypeDocument.showNextScene(optionalTransition)
						hypeDocument.showPreviousScene(optionalTransition)
						hypeDocument.playTimelineNamed(timelineName)
						hypeDocument.getElementById(id)

						MORE INFO:
						http://tumultco.com/hype/documentation/javascript/
	
		element - DOMHTMLElement that triggered this function being called
		event - event that triggered this function being called
	*/
	
	var snd = document.getElementById("52");
    snd.play();
}
</string>
		</dict>
	</array>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>unsupportedBrowserIdentifiers</key>
	<array/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
